<!--stylist.vtl-->

  <h1>$stylist.getName()</h1>
  <h2>$stylist.getDetails()</h2>

  <ul>
    #foreach($client in $stylist.getClients())
      <li><a href="/stylists/$client.getStylistId()/clients/$client.getId()">$client.getName()</a></li>
      <li>$client.getDetails()</li>
    #end
  </ul>

<a href="/stylists/$stylist.getId()/clients/new">Add a new client</a>
<a href="/stylists">All Stylists</a>
<!--stylist.vtl-->
